[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Mattia Righetti
	email = matt95.righetti@gmail.com
[include]
	path = $HOME/.gitalias
